/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%
}

ul {
    list-style: none;
}

/* COMMON */
.btn-blue {
    color: white;
    background-color: #0061fe;
}

.btn-white {
    color: black;
    background-color: white;
    display: inline-block;
    border: 1px solid black;
}

[class^="btn"] {
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

/* Typography */
body {
    font-family: sans-serif;
}

/* Layout */
.large-container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    /* debug */
    border: 1px dashed green;
    min-height: 300px;
}

.center {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}


.small-container {
    width: 70%;
    max-width: 900px;
    margin: 0 auto;
    /* debug */
    border: 1px dashed black;
    min-height: 300px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-20 {
    width: 20%;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.col-30 {
    width: 30%;
}

.col-100 {
    width: 100%;
    margin-top: 40px;
}

.section {
    padding: 100px 0;
}

/* debug */
[class^="col-"] {
    min-height: 200px;
    border: 1px dashed blueviolet;
}



/* Utilities */
.justify-between {
    justify-content: space-between;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mv-40 {
    margin: 40px 0;
}

.pt-50 {
    padding-top: 50px;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 80px;
    color: black;

}

.header ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: inherit;
}


/* MAIN */

/* Hero section */
.hero {
    background-color: #b4d0e6;
    padding: 40px 0;
    /* debug */
    /* min-height: 500px; */
}

h1 {
    font-size: 5rem;
}

.hero-text {
    font-size: 1.1rem;
}

.hero-btn {
    margin: 40px 0;
}

.hero a {
    text-decoration: none;
}

.hero .col-40 {
    position: relative;
}

.hero .arrow {
    font-size: 3em;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Plans section */
h2 {
    font-size: 2.5rem;
}

.plans-header {
    line-height: 40px;
    text-align: center;
}

.plans hr {
    color: #d8d8dc;
}

.plans .col-30 {
    border: 1px solid #d8d8dc;
    display: flex;
    flex-direction: column;
}

.small-hr {
    width: 20%;
}

.plans h3 {
    font-size: 1.6rem;
    margin-top: 30px;
}

.plans .col-30 li {
    margin: 20px 0;
    display: flex;
    gap: 10px;
    font-size: 0.9rem;

}

.plans .col-100 {
    border: 1px solid #d8d8dc;
}

.plans .card-info {
    width: 80%;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.plans .col-100 .text {
    font-size: 0.9rem;
}

.plans .price-type {
    color: grey;
    font-size: 0.8rem;
}

.plans .col-100 .btn-blue {
    position: absolute;
    right: 0;
    top: 10px;
}

/* Partners Section */
.partners h3 {
    margin-top: 30px;
    font-size: 1.6rem;
}

.partners .center {
    width: 80%;
}

/* Operations Section */
.operations .col-30 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.operations h3 {
    font-size: 1.5rem;
}

.operations .text {
    font-size: 1.1rem;
}


/* FOOTER */
.footer {
    background-color: black;
    padding: 40px 0;
    color: white;
    /* debug */
    min-height: 300px;
}

.footer-divider {
    width: 20%;
    max-width: 150px;
    margin: 40px 0;
}